@mixin font($fz,$fw,$lh){
	font-size: $fz;
	font-weight: $fw;
	line-height: $lh;
}
@mixin size($w,$h){
	width: $w;
	height: $h;
}

.contact__wrapper{
	@include size(100%,100%);
	padding: 82px 0;
	background-color: #FFBD9E;
	border-radius: 20px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.contact_txt_block{
	margin: 82px 0 ;
	h1 {
		@include font(40px,700,56px);
		max-width: 390px;
		color: #222433;
		margin-bottom: 40px;
	}

	p{	
		@include font(18px,400,32px);
		max-width: 390px;
		opacity: 0.9;
	}
}


.contact__form {
	@include size(420px,350px);
	background-color: #F7F3F4;
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
		p {
			@include font(32px,600,56px);
			margin: 40px 0 16px;
		}
}
.image_wr{
	margin: -310px 0 0 -180px;

}
	

.input{
	@include size(310px,50px);
margin: 8px 0;

}
.input input{
	@include size(100%,100%);
	padding: 0 24px;
	border-radius: 40px;
	font-size: 14px;
	color: #807C7C;
}
.button{
	@include font(13px,700,18px);
	@include size(310px,50px);
	background: #F2726C;
	border-radius: 30px;
	color: #F7F3F4;
	letter-spacing: 1px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 24px 0 40px;
	cursor: pointer;
}

@media(max-width:1250.98px){
	.contact__wrapper{
		justify-content: stretch;
		padding: 15px;
	}
	.contact__form{
		margin-left: 20px;
	}
	.image_wr{
	margin: -300px 0 0 -30px;

}
}

@media(max-width:860.98px){
	.contact__wrapper{
		height: 800px;
		flex-direction: column;
		padding: 10px;
	}
	.image_wr{
		margin: -390px -440px 0 0;



}
}
@media(max-width:599.98px){
	.contact__wrapper{
		height: 650px;
		h1{
			@include font(28px,400,150%);
			text-align: center;
			margin: 42px 0 20px;
			}
		p{
			max-width: 315px;
			max-height: 105px;
			@include font(15px,400,175%);
			margin-bottom: 55px;
}
	}
	.contact__form{
		margin: 0 auto;
		max-width: 340px;
		max-height: 330px;
	}
	.contact_txt_block{
			margin: 0;
}
	
	.image_wr{
		@include size(63px,72px);
		margin: -360px -330px 0 0;
	}
	.button {
		min-width: 50px;
	}
}