.contact__wrapper{
	padding: 82px 0;
	height: 100%;
	background-color: #FFBD9E;
	border-radius: 20px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.contact__text_wrapper{
	margin: 82px 0 ;
}
.title{
	max-width: 390px;
	font-weight: 700;
	font-size: 40px;
	line-height: 56px;
	color: #222433;
	margin-bottom: 40px;
}
.text{	
	max-width: 390px;
	font-size: 18px;
	line-height: 32px;
	opacity: 0.9;
}
.contact__form_wrapper {
	width: 420px;
	height: 350px;
	background-color: #F7F3F4;
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.img_wrapper{
	margin: -310px 0 0 -180px;

}
.login {
	font-weight: 600;
	font-size: 32px;
	line-height: 56px;
	margin: 40px 0 16px;
}

.input{
height: 50px;
width: 310px;
margin: 8px 0;

}
.input input{
	width: 100%;
	height: 100%;
	padding: 0 24px;
	border-radius: 40px;
	font-size: 14px;
	color: #807C7C;
}
.button{
	width: 310px;
	height: 50px;
	background: #F2726C;
	border-radius: 30px;
	font-weight: 700;
	font-size: 13px;
	color: #F7F3F4;
	letter-spacing: 1px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 24px 0 40px;
	cursor: pointer;
}

@media(max-width:1250.98px){
	.contact__wrapper{
		justify-content: stretch;
		padding: 15px;
	}
	.contact__form_wrapper{
		margin-left: 20px;
	}
	.img_wrapper{
	margin: -300px 0 0 -30px;

}
}

@media(max-width:860.98px){
	.contact__wrapper{
		height: 800px;
		flex-direction: column;
		padding: 10px;
	}
	.contact__form_wrapper{
		height: 100%;
	}
	.img_wrapper{
		margin: -390px -440px 0 0;



}
}
@media(max-width:599.98px){
	.contact__wrapper{
		height: 650px;
	}
	.contact__form_wrapper{
		margin: 0 auto;
		max-width: 340px;
		max-height: 330px;
	}
	.contact__text_wrapper{
	margin: 0;
}
.title{
	text-align: center;
	font-size: 28px;
	line-height: 150%;
	margin: 42px 0 20px;
}
.text{
	max-width: 315px;
	max-height: 105px;
	font-size: 15px;
	line-height: 175%;
	margin-bottom: 55px;
}




	.img_wrapper{
		width: 63px;
		height: 72px;
		margin: -360px -330px 0 0;
	}

}