
.firstPage{
	display: flex;
	justify-content: space-between;
	margin-bottom: 128px;
}
.firstPage__text {
	width: 448px;
	height: 64px;
	margin-top: 60px;
	font-size: 16px;
	line-height: 32px;
	
}
.firstPage__target_button_wrapper {
	max-width: 448px;
	max-height: 64px;
	padding: 15px 10px 15px 20px; 
	margin-top: 50px;
	background-color: #fff;

	border-radius: 40px;	
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.firstPage__target_button_text{
	font-size: 14px;
	color: #807C7C;
	display: flex;
	align-items: center;
}
.firstPage__target_button{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 122px;
	height: 48px;
	background: #F2726C;
	border-radius: 30px;
	color: white;
	font-weight: 700;
	font-size: 13px;

}
.firstPage__leftSide {
	margin-top: 128px;
}
.firstPage__rightSide {
	margin-top: 80px;
}

.firstPage__rightSide_parrot{
position: relative;
}
.firstPage__rightSide_table{
position: relative;
top: -270px;
left: -50px;
}