
.titlePage{
	height: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 125px;
}

.titlePage__leftBlock {
	width: 50%;
	display: flex;
	flex-direction: column;
	height: 100%;
	padding-top: 128px;
}
.titlePage__rightBlock{
	width: 50%;
	height: 100%;
	margin-top: 67px;
	margin-right: -40px;
}


.titlePage__headlineImg{
	max-width: 543px;
	max-height: 290px;
}



.titlePage__text {
	padding: 45px 0;
	font-size: 16px;
	line-height: 32px;
	max-width: 450px;
	
}
.titlePage__searchform {
	max-width: 448px;
	max-height: 64px;
	padding: 15px 10px 15px 20px; 
	background-color: #fff;

	border-radius: 40px;	
	display: flex;
	align-items: center;
}
.titlePage__buttonText{
	flex-basis: 70%;
	font-size: 14px;
	color: #807C7C;
	display: flex;
	align-items: center;
}
.titlePage__searchButton{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 122px;
	height: 48px;
	background: #F2726C;
	border-radius: 30px;
	color: white;
	font-weight: 700;
	font-size: 13px;


}

@media (min-width:1250.98px) {
	.titlePage__rightBlock {
		margin-right: -100px;
	} 
}

@media(max-width: 599.99px){
	.titlePage{
		display: flex;
		flex-direction: column;
		padding: 0 20px;
	}
	.titlePage__leftBlock{
		padding-top: 70px;
		width: auto;

	}
	.titlePage__rightBlock{
		width: 150%;
		overflow: hidden;
		padding: 0;
	}
	.titlePage__text{
		padding-top: 30px 0 40px;
	}
	.titlePage__searchform {
	max-width: 340px;
	max-height: 65px;
	display: flex;
	flex-direction: initial;
	border-radius: 40px;	
}
.titlePage__buttonText{
	display: flex;
	flex-direction: initial;

}
}





