.wrapper {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;

}
.page {
	flex: 1 1 auto;
}

.header {
	background-color: #F7F3F4;
} 

.carousel{
	display: inherit;
}
.workaround{
	display: none;
}

@media(max-width:599.95px){
	.workaround{
	display: inherit;
}
.carousel{
	display: none;
}
}