.wrapper {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: #F7F3F4
}
.page {
	flex: 1 1 auto;
}

.header__content{
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 4px solid #222433;
	margin: 0 80px;
	padding: 32px 0;
}
.menu__items{
	display: flex;
	justify-content: space-between;
	min-width: 550px;
	font-size: 16px;
}

.header__button{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 145px;
	height: 48px;
	font-weight: 700;
	background-color: #ffff;
	box-shadow: 0px 30px 40px rgba(240, 101, 126, 0.05);
	border-radius: 40px;
}
.firstPage{
	display: flex;
	justify-content: space-between;
	margin: 0 30px;
	
}
.firstPage__text {
	width: 448px;
	height: 64px;
	margin-top: 60px;
	
}
.firstPage__target_button_wrapper {
	width: 448px;
	height: 64px;
	padding: 15px 10px 15px 20px; 
	margin-top: 50px;
	background-color: #fff;
	box-shadow: 0px 30px 40px rgba(240, 101, 126, 0.05);
	border-radius: 40px;	
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.firstPage__target_button_text{
	font-size: 14px;
	color: #807C7C;
	display: flex;
	align-items: center;
}
.firstPage__target_button{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 122px;
	height: 48px;
	background: #F2726C;
	border-radius: 30px;
	color: white;
	font-weight: 700;
	font-size: 13px;

}
.firstPage__leftSide {
	margin-top: 128px;
}
.firstPage__rightSide {
	margin-top: 68px;
}