.slider__wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
} 
.slider__box{
	width: 100%;
	height: 540px;
	padding: 15px 62px;
	
}

.slider__contant_leftside {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.slider__contant {
	height: 100%;
	width: 100%;
	border-radius: 20px;	
	display: flex;
	justify-content: space-around;

}
.title {
	width: 390px;
	height: 170px;
	margin: 94px 0 32px ;
	font-weight: 700;
	font-size: 40px;
	line-height: 56px;
}
.text {
	font-size: 18px;
	line-height: 32px;
	width: 384px;
	height: 128px;
} 

.slider__contant_rightside{
	display: flex;
	flex-direction: column-reverse;
}
.btn {
	background-color: white;
}