.team__wrapper {
	margin: 40px 0;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.text_cont {
	max-width: 352px;
	padding: 5px;
	text-align: center;
}
.title {
	font-weight: 700;
	font-size: 40px;
	line-height: 56px;
}
.txt {
	font-size: 18px;
	line-height: 32px;
	opacity: 0.9;
	font-weight: 400;
}
.item_txt {
	max-width: 120px;
	max-height: 40px;
}
.teamSmall{
		display: none;
	}

@media(max-width:600px){
	.teamSmall{
		margin-top: 40px;
		display: flex;
	}
	.teamBig{
		display: none;
	}
}